@use '../util' as *;

.container {
    max-width: rem(1110);
    padding-left: rem(25);
    padding-right: rem(25);
    margin: 0 auto rem(46);
    @include breakpoint(large) {
        padding: 0;
    }
}